body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
}

.background {
    background-image: url(https://i.pinimg.com/enabled_hi/564x/26/67/f7/2667f789e14bab943318e379a529199d.jpg); 
    background-size: cover; 
    background-position: center;
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px;
    opacity: 0.85; 
}


.text {
    font-family:'Franklin Gothic Medium', , sans-serif;	
    font-size: 90px;
  color: white;
  text-align: center;
    line-height: 1.5;
    letter-spacing: 10px;
    padding: 40px;
    margin: 20px;
     text-shadow: -0.10px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h2{
  font-family: 'Snell Roundhand', cursive;
  font-size: 60px;
  opacity: 0.5;
}

.link-list {
    display: flexbox; 
    gap: 30px; 
  margin-top: 500px;
  margin-left: -600px;
}
.link-list {
    list-style-type: none;
    padding:3px; 
}

.link-list li {
    margin: 10px 0; 
}

.link-list a {
    text-decoration: none; 
    color: #1ca9c9; 
    font-size: 20px; 
    position: relative; 
    transition: color 0.5s ease;
  opacity:.4;
}

.link-list a:hover {
    color: #ffc0cb; 
}

.link-list a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #3498db; 
    bottom: -5px; 
    left: 0;
    transform: scaleX(1); 
    transition: transform 0.3s ease; 
}

.link-list a:hover::after {
  transform: scaleX(2);}