body, html {
    margin: 0;
    height: 100%;
    overflow: hidden; 
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: colorChange 7s infinite; 
}


@keyframes colorChange {
    0% { background-color: #ffafbd; } 
    25% { background-color: #ffc3a0; } 
    50% { background-color: #ff677d; } 
    75% { background-color: #d4a5a5; } 
    100% { background-color: #392f5a; } 
}

h1 {
  text-align: left
}

h1 {
  font-family: Sans serif
}

h1 {
  color: white
}

h1 {
  margin-left: -60px
}

h1 {
  text-orientation: upright
}


body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.collage-container {
    position: absolute;
    width: 600px;
    height: 400px; 
    overflow: hidden; 
    display: flex; 
    flex-wrap: wrap; 
 
}

img{
    width: 50%; 
    height: auto; 
  
    transition: transform 0.3s ease, opacity 0.3s ease; 
}


img:hover {
    transform: scale(1.3
    ); 
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.collage-item {
    animation: fadeIn 0.5s forwards; 
}

.collage-item:nth-child(1) { animation-delay: 0s; }
.collage-item:nth-child(2) { animation-delay: 0.1s; }
.collage-item:nth-child(3) { animation-delay: 0.2s; }
.collage-item:nth-child(4) { animation-delay: 0.3s; }