body {
  background-image: url(https://i.pinimg.com/control/564x/8b/18/05/8b1805be1d7258181fd44773f54651f7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 40px;
}

p {
  text-align: right;
  font-size: 30px;
  font-family: 'Courier New', monospace;
}

.flex-container {
  display: flex;
  align-items: center;
  margin: 20px 0; /* Add margin for spacing */
}

.image {
  width: 300px;  
  height: auto; 
  margin-right: 10px; 
  opacity: 0; 
  animation: fadeIn 3s forwards; 
}

@keyframes fadeIn {
  from {
      opacity: 0; 
  }
  to {
      opacity: 1; 
  }
}

